version: "3"
services:
  redis:
    image: zhenghaoz/pika
    restart: unless-stopped
    ports:
      - 9221:9221

  mysql:
    image: mysql/mysql-server
    restart: unless-stopped
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root_pass
      MYSQL_DATABASE: gorse
      MYSQL_USER: gorse
      MYSQL_PASSWORD: gorse_pass
    volumes:
      - ./var/lib/mysql:/var/lib/mysql

  worker:
    image: zhenghaoz/gorse-worker:0.3.0
    restart: unless-stopped
    ports:
      - 8089:8089
    command: >
      --master-host master --master-port 8086 --http-host 0.0.0.0 --http-port 8089
      --log-path /var/log/gorse/worker.log --cache-path /var/lib/gorse/worker_cache.data
    volumes:
      - ./var/log/gorse:/var/log/gorse
      - ./var/lib/gorse:/var/lib/gorse

  server:
    image: zhenghaoz/gorse-server:0.3.0
    restart: unless-stopped
    ports:
      - 8087:8087
    command: >
      --master-host master --master-port 8086 --http-host 0.0.0.0 --http-port 8087
      --log-path /var/log/gorse/server.log --cache-path /var/lib/gorse/server_cache.data
    volumes:
      - ./var/log/gorse:/var/log/gorse
      - ./var/lib/gorse:/var/lib/gorse

  master:
    image: zhenghaoz/gorse-master:0.3.0
    restart: unless-stopped
    ports:
      - 8086:8086
      - 8088:8088
    command: -c /etc/gorse/config.toml --log-path /var/log/gorse/master.log --cache-path /var/lib/gorse/master_cache.data
    volumes:
      - ./etc/gorse/config.toml:/etc/gorse/config.toml
      - ./var/log/gorse:/var/log/gorse
      - ./var/lib/gorse:/var/lib/gorse

  prometheus:
    image: prom/prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    volumes:
      - ./etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - grafana-storage:/var/lib/grafana

  loki:
    image: grafana/loki:2.3.0
    restart: unless-stopped
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - 3100:3100
    volumes:
      - ./etc/loki/local-config.yaml:/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail
    restart: unless-stopped
    command: -config.file=/etc/promtail/config.yml
    ports:
      - 9080:9080
    volumes:
      - ./var/log/gorse:/var/log/gorse
      - ./etc/promtail/config.yml:/etc/promtail/config.yml

  rabbitmq:
    image: rabbitmq:3.8-management
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: gorse
      RABBITMQ_DEFAULT_PASS: gorse_pass
    ports:
      - 5672:5672
      - 15672:15672

  crawler_starred:
    build:
      context: backend
      dockerfile: crawler_starred.Dockerfile
    restart: unless-stopped
    environment:
      GORSE_ADDRESS: http://server:8087
      GORSE_API_KEY: 19260817
      BROKER_ADDRESS: pyamqp://gorse:gorse_pass@rabbitmq/

  crawler_trending:
    build:
      context: backend
      dockerfile: crawler_trending.Dockerfile
    restart: unless-stopped
    environment:
      GORSE_ADDRESS: http://server:8087
      GORSE_API_KEY: 19260817
      GITHUB_ACCESS_TOKEN: xxxxxxxxxxxxxxxxxxxxxxxxx

  web:
    build: .
    restart: unless-stopped
    ports:
      - 5000:5000
    environment:
      GORSE_ADDRESS: http://server:8087
      GORSE_API_KEY: 19260817
      BROKER_ADDRESS: pyamqp://gorse:gorse_pass@rabbitmq/
      OAUTHLIB_INSECURE_TRANSPORT: "true"
      GITHUB_OAUTH_CLIENT_ID: xxxxxxxxxxxxxxxxxxxxxxxxx
      GITHUB_OAUTH_CLIENT_SECRET: xxxxxxxxxxxxxxxxxxxxxxxxx
      SECRET_KEY: xxxxxxxxxxxxxxxxxxxxxxxxx

volumes:
  grafana-storage:
