<div class="col s12">
    <h4><span class="white-text text-darken-2">{{ title }}</span></h4>
</div>
{% for item_id in items %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <a href="/item/{{ item_id }}">
                    <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ item_id }}/header.jpg"
                    onerror="this.src='https://img.sine-x.com/404.jpg';" >
                </a>
            </div>
        </div>
    </div>
{% endfor %}