{% extends 'page_base.jinja2' %}
{% block row %}
    <section class="section">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ item_id }}/header.jpg"
                        onerror="this.src='https://img.sine-x.com/404.jpg';">
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a class="waves-effect waves-light btn green darken-2"
                   href="https://store.steampowered.com/app/{{ item_id }}/" target="_blank">
                    <i class="material-icons left">add_shopping_cart</i>Buy on Steam
                </a>
            </div>
        </div>
    </section>
    <section class="section">
        {% include 'gallery.jinja2' %}
    </section>
{% endblock %}