server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/log/positions.yaml # This location needs to be writeable by Promtail.

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: system
    static_configs:
    - targets:
        - localhost
      labels:
        job: gorse
        __path__: /var/log/gorse/*.log
    pipeline_stages:
    - json:
        expressions:
          level: level
          ts: ts
    - labels:
        level:
    - timestamp:
        source: ts
        format: Unix
